/* ล้างขอบขาวรอบๆ จอทิ้งไป */
:host {
  display: block;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
  position: relative;
  text-align: center;
  margin-bottom: 20px; /* เว้นระยะห่างจากเมนู */
}

.cover-img {
  width: 250px;           /* กว้างเต็มจอ */
  height: auto;
  object-fit: cover;    /* ตัดส่วนเกินออก ไม่ให้รูปเบี้ยว */
  display: block;
  margin: 50px auto;
}
