/* You can add global styles to this file, and also import other style files */
/* ล้างระยะขอบของ Browser ออกให้หมด */
body {
  margin: 0;
  padding: 0;
    
  /* 👇 เลือกสีที่ชอบได้เลยครับ (ผมใส่ให้เลือก 2 แบบ) */
  
  /* แบบที่ 1: สีครีมมินิมอล (แนะนำ! เข้ากับรูปมัทฉะมาก) */
  background-color: #fff5fd; 

  /* แบบที่ 2: สีเขียวมัทฉะจางๆ (ถ้าอยากให้ดูเขียวๆ หน่อย) */
  /* background-color: #f1f8e9; */
}

/* src/styles.css */
body, h1, h2, h3, h4, h5, h6, p, span, button, div, a {
  font-family: 'Kanit', sans-serif !important;
}